<%= bootstrap_form_for @question, remote: true do |f| %>

  <div class="form-group">
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.text_area :body %>
  </div>

  <%= f.submit %>

<% end %>
