<div class="row">
<div class="col-sm-2"></div>

<div class="col-sm-8">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Questions <span class="badge"><%= @questions.count %></span></h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <%= render partial: 'listed_question', collection: @questions, as: :question %>
      </ul>
    </div>
  </div>

<%= link_to "Add question", new_question_path, class: "btn btn-default btn-lg btn-block" %>
