<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="jumbotron">
      <h2>AnswerMe<small> post and respond to questions...</small></h2>

    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <%= link_to "Guest Access", guest_path, class: "btn btn-danger btn-lg btn-block" %>
    <%= link_to "Login", login_path, class: "btn btn-warning btn-lg btn-block", id: "login-button" %>
    <%= link_to "Register", new_user_path, class: "btn btn-info btn-lg btn-block" %>

  </div>
  <div class="col-sm-2"></div>
</div>
